@charset "UTF-8";
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#fade{
	animation: fade-in 2s ease-in-out;
}
.container {
	background-color: #FFEFD4;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	float: left;
}

.secondary_header {
	width: 4%;
	height: 100%;
	background-color: #FFEFD4;
	float: left;
	position: fixed;
	padding-right: 3%;
	
}

.container .secondary_header ul { 
	
}

.img{
	width: 55px;
	height: 55px;
	
}
.tool0 {
	margin-top: 100%;
	margin-bottom: 100%;
	float: left;
	width: 100%;
}
.tool {
	
}
.tool2 {

}
.tool3 {
	
}
.tool0 a  {
	float: center;
	width: 100%;
}

.secondary_header .tool0 a {
	writing-mode: vertical-rl; 
	float: center;
	width: 100%;
	margin-left:100%;
}

.secondary_header .tool a {
	text-decoration: none;
	margin-right: auto;
	font-family: "Archivo Black";
	font-weight: bold;
	font-size: 14px;
	color: #CD8A39;
	letter-spacing: 1px;
	text-align: center; 
	writing-mode: vertical-rl; 
	float: center;
	margin-top: 630%;
	width: 100%;
	height:20%;
}
.secondary_header .tool2 a {
	text-decoration: none;
	margin-right: auto;
	font-family: "Archivo Black";
	font-weight: bold;
	font-size: 14px;
	color: #CD8A39;
	letter-spacing: 1px;
	text-align: center; 
	writing-mode: vertical-rl; 
	float: center;
	width: 100%;
	height:20%;
}
.secondary_header .tool3 a {
	text-decoration: none;
	margin-right: auto;
	font-family: "Archivo Black";
	font-weight: bold;
	font-size: 14px;
	color: #CD8A39;
	letter-spacing: 1px;
	text-align: center; 
	writing-mode: vertical-rl; 
	float: center;
	width: 100%;
	height:20%;
}


.secondary_header .tool a:hover {
	color: #A24502;
	cursor: pointer;
	
}
.secondary_header .tool2 a:hover {
	color: #A24502;
	cursor: pointer;
	
}
.secondary_header .tool3 a:hover {
	color: #A24502;
	cursor: pointer;
	
}

.section{
	padding-top: 0%;
	padding-bottom: 25%;
	background-color: #FFEFD4;
	float: center;
}

.title{
	width: 93%;
	float: right;
	background-color: #A24502;
	margin-bottom: auto;
}

.section .title p{
	margin-bottom: 1%;
	margin-top: 1%;
	padding: 0%;
	color: #FFEFD4;
	font-weight: bold;
	font-family: "Archivo Black";
	font-size:  xx-large;
	text-transform: uppercase;
	text-align: center;
}


.row {
	width: 93%;
	display: inline-block;
	background-color: #DDB06D;
	float: right;
}
.row.blockDisplay {
	display: block;
}
.row2 {
	width: 93%;
	display: inline-block;
	background-color: #DDB06D;
	float: right;
}

.row2.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.row1 {
	width: 93%;
	display: inline-block;
	background-color: #DDB06D;
	float: right;
}

.row1.blockDisplay {
	display: block;
}
.columns {
	width: 32%;
	float: right;
	font-family: '나눔스퀘어 네오 OTF ExtraBold';
	color: #A5A5A5;
	line-height: 24px;
	padding-top: 60px;
	padding-bottom: 30px;
	margin-top: 20px;
	margin-bottom: 15px;

}
.container .columns p {
	text-align: center;
	color: #595D2B;
}
.container .columns a {
	text-decoration: none;
}
.container .columns h4 {
	text-align: center;
	color: #595D2B;
	font-size: large;
	font-family: "Archivo Black";
}
.container .columns h4:hover {
	color: #1D2A10;
	cursor: pointer;
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


@media (max-width: 320px) {
	

.secondary_header {
	
}
.secondary_header ul li {
	float: left;
	width: 20%;
	font-size:6px;
}
.secondary_header ul {
	height: 100%;
	width: 100%;
	text-align: center;
}
	.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}

.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}

.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}


}

@media (min-width: 321px) and (max-width: 768px) {
	
.secondary_header ul li {
	float: left;
	width: 20%;
	font-size: 10px;
}
 .secondary_header ul {;
	height: auto;
	width: 100%;
	text-align: center;
}
	.columns {
	width: 100%;
	margin-top: 6px;
	margin-bottom: 6px;
}

.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
	.title{
		width: 75%;
	}
	.row{
		width: 75%;
	}
	.row1{
		width: 75%;
	}
	.row2{
		width: 75%;
	}
}

@media (min-width: 769px) and (max-width: 1000px) {
	.secondary_header ul li {
	float: left;
	width: 20%;
	font-size:6px;
}
.secondary_header ul {
	height: 100%;
	width: 100%;
	text-align: center;
}
.columns {
	width: 33%;
	float: center;
	padding-left: 0px;
	padding-top: 10%;
	padding-right: 0px;
	padding-bottom: 10%;
	font-size: 13px;
}

.container .columns h4 {
	font-size: 13px;
}
.title{
		width: 80%;
	}
	.row{
		width: 80%;
	}
	.row1{
		width: 80%;
	}
	.row2{
		width: 80%;
	}
}

@media (min-width: 1001px) {
}


.thumbnail {
	width: 50%;
	float: center;
	border-radius: 200px;
	background-color: #FFEFD4;

}

.thumbnail2 {
	width: 160px;
	border-radius: 200px;
	height: 160px;
	margin-left: auto;
	float: center;

}

.thumbnail_align {
	text-align: center;
	float: center;

}
#menu {
	
}
