@charset "UTF-8";
.container {
	background-color: #FFFFFF;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.section{
	padding-top: 6%;
	padding-bottom: 6%;
}
.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}
.row.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.columns {
	width: 33%;
	float: left;
	font-family: "Source Sans Pro";
	color: #A5A5A5;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.row .columns p {
	padding-left: 30%;
	padding-right:25%;
}
.container .columns h4 {
	text-align: center;
	color: #01B2D1;
}
.primary_header {
	width: 100%;
	background-color: #52bad5;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 2px solid #2C9AB7;
}
.secondary_header {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #B3B3B3;
	clear: center;
}

.big_box{
	
	padding-top: 2%;
	padding-bottom: 2%;
	float: left;
}

.social_icon {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 4px;
	width: 50%;
	float: left;
	
}

.third .big_box .social_icon p {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-weight: lighter;
	width: 90%;
}

.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.logo{
	width: 100%;

}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 3px;
	margin-left: auto;
	text-align: center;
	width: 20%;
	transition: all 0.3s linear;
}

.secondary_header li a {
	list-style: none;
	text-decoration: none;
	float: center;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 3px;
	margin-left: auto;
	text-align: center;

	transition: all 0.3s linear;}

.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}

.secondary_header li a:hover {
	color: #717070;
	cursor: pointer;
}
.left_article {
	width: 100%;
	float: center;
	font-family: "Source Sans Pro";
	color: #343434;
	
}
.noDisplay {
	display: none;
}
.container .left_article h3 {
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
	color: #717070;
	font-weight: bold;
	font-size: xx-large;
	text-transform: uppercase;
	text-align: center;
}
.container .left_article p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #B3B3B3;
}
.right_article {
	width: 40%;
	float: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}
.how{
	width: 100%;
	float: center;
	font-family: "Source Sans Pro";
	color: #343434;
	padding-top: 3%;
	padding-bottom: 3%;
}
.container .how h5{
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
	color: #717070;
	font-weight: bold;
	font-size:  xx-large;
	text-transform: uppercase;
	text-align: center;
}
.container .right_article ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.right_article ul li {
	font-family: "Source Sans Pro";
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;
}
.right_article ul li:hover {
	background-color: #717070;
	cursor: pointer;
}
.footer {
	background-color: #717070;
	height: auto;
	margin-bottom: 0px;
	margin-top: 2%;
	float: left;
}


.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	/* [disabled]padding-left: 19px;
*/
	height: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.final{
	width: 100%;
	height: auto;
	
}
.left_half {
	background-color: #52BAD5;
}
.container .column_half.left_half h2 {
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
}
.right_half {
	background-color: #01B2D1;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
	font-weight: bold;
}
.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.copyright {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 4px;
	font-family: "Source Sans Pro";
	width: 50%;
	margin-top: 2%;
	margin-bottom: 2%;
	float: left;
}

.footer .copyright p{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-weight: lighter;
	width: 90%;
}

.final_logo{
	width: 40%;
	margin-top: 2%;
	padding: 20px;
}

.final_img{
	width: 30%;
	height: 30%;
}



body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


@media (max-width: 320px) {

.social_icon{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10%;
	margin-top: 0px;
	}
	
.third .big_box .social_icon p {
	padding: 0px;
	text-align: center;
	font-weight: lighter;
	width: 100%;
}
	
.copyright {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 4px;
	font-family: "Source Sans Pro";
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	float: left;
}

.footer .copyright p{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-weight: lighter;
	width: 100%;
}

.secondary_header ul li {
	float: left;
	width: 20%;
	font-size:6px;
}
.container .secondary_header ul {
	height: 100%;
	width: 100%;
	text-align: center;
}

.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}

.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
	
}
}

@media (min-width: 321px) and (max-width: 768px) {

.social_icon{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	}
	
.third .big_box .social_icon p {
	padding: 0px;
	text-align: center;
	font-weight: lighter;
	width: 100%;
}
.secondary_header ul li {
	float: left;
	width: 20%;
	font-size: 10px;
}

.copyright {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 4px;
	font-family: "Source Sans Pro";
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	float: left;
}

.footer .copyright p{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-weight: lighter;
	width: 100%;
}

.container .secondary_header ul {;
	height: auto;
	width: 100%;
	text-align: center;
}

.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {


.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: center;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 20px;
	padding-right: 20px;
	
}
}

@media (min-width: 1001px) {
}

.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	
}
.third{
	padding-top: 2%;
	padding-bottom: 5%;

}
.m_title{
	width: 100%;
	float: center;
	font-family: "Source Sans Pro";
	color: #343434;
	padding-top: 3%;
	padding-bottom: 3%;
}

.third .m_title h6{
	padding: 0%;
	margin-top: 2%;
	margin-bottom: 2%;
	color: #717070;
	font-weight: bold;
	font-size:  xx-large;
	text-transform: uppercase;
	text-align: center;
}



.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	padding: 10px;

}
.thumbnail_align {
	text-align: center;
	padding-left: 0%;
	padding-right: 0%;
}
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}

.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 1;
}


#menu {
}
